version: '3.8'
services:
  elasticsearch:
    build:
      context: .
      dockerfile: Dockerfile-es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    container_name: elasticsearch
